<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="text-white">Harry Cover s'invite chez vous !</h1>
        <p class="lead text-white">Votre primeur de qualité dans Paris 7ème. Des fruits et légumes frais chaque semaine ou chaque mois !</p>
      </div>
    </div>
  </div>
</header><br><br>
