<header class="masthead pb-4">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="text-white big-banner"><%= t "title_big_banner" %></h1>
        <p class="lead text-white big-banner-under"><%= t "text_big_banner" %></p>
        <button class="btn btn-cta">Je découvre</button>
      </div>
    </div>
  </div>
</header>
