<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="text-white">Harry Cover comes to your home</h1>
        <p class="lead text-white">Your quality greengrocer in Paris 7. Fresh fruits and vegetables every week or every month!</p>
      </div>
    </div>
  </div>
</header><br><br>
