<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="text-white"><%= t "title" %></h1>
        <p class="lead text-white"><%= t "text_big_banner" %></p>
      </div>
    </div>
  </div>
</header><br><br>
