<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://scontent-cdg2-1.xx.fbcdn.net/v/t31.0-8/12823411_1574562622864097_116675121725094917_o.jpg?_nc_cat=107&ccb=2&_nc_sid=730e14&_nc_ohc=1KJWmthAF_sAX8xPDju&_nc_ht=scontent-cdg2-1.xx&oh=6627d3839d6338c34834aa3044a844a0&oe=5FF3D1B3" alt="Premier slide">
      <div class="carousel-caption mx-auto mb-5">
        <h5 class="text-white py-2">Harry Cover de bons produits locaux</h5>
        <button class="btn btn-secondary">Je découvre</button>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://images.pexels.com/photos/1656666/pexels-photo-1656666.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Second slide">
      <div class="carousel-caption mx-auto mb-4">
        <h5 class="text-white py-2">Harry Cover de bons produits locaux</h5>
        <button class="btn btn-secondary">Je découvre</button>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://images.pexels.com/photos/196643/pexels-photo-196643.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Troisème slide">
      <div class="carousel-caption mx-auto mb-4">
        <h5 class="text-white py-2">Harry Cover de bons produits locaux</h5>
        <button class="btn btn-secondary">Je découvre</button>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Précédent</span>
  </a>
  <a class="carousel-control-next text-black" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Suivant</span>
  </a>
</div>