<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("1.jpg", class:"d-block w-100") %>
      <div class="carousel-caption mx-auto mb-5">
        <h5 class="text-white py-2">Harry Cover de bons produits locaux</h5>
        <button class="btn btn-secondary">Je découvre</button>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("2.jpeg", class:"d-block w-100") %>
      <div class="carousel-caption mx-auto mb-4">
        <h5 class="text-white py-2">Harry Cover de bons produits locaux</h5>
        <button class="btn btn-secondary">Je découvre</button>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("3.jpeg", class:"d-block w-100") %>
      <div class="carousel-caption mx-auto mb-4">
        <h5 class="text-white py-2">Harry Cover de bons produits locaux</h5>
        <button class="btn btn-secondary">Je découvre</button>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Précédent</span>
  </a>
  <a class="carousel-control-next text-black" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Suivant</span>
  </a>
</div>