<section class="jumbotron text-center">
  <div class="container">
    <h2 class="jumbotron-heading">COMMENT S'ABONNER ?</h2><br>
    <p class="lead text-muted">Choisissez la formule qui s'adapte à vos envies et à votre budget.</p>
    <p class="lead text-muted">Une composition unique, fraîchement cueillie, et des produits de saison pour se régaler tout au long de l'année.</p>
    <p>
      <%= link_to "S'inscrire >", new_user_registration_path, class:"btn btn-primary my-2 mr-2"%>
      <!--a href="/informations" class="btn btn-secondary my-2">Plus d'informations</a-->
    </p>
  </div>
</section>