<section class="jumbotron text-center">
  <div class="container">
    <h2 class="jumbotron-heading"><%= t "jumbo_title_home" %></h2><br>
    <p class="lead text-muted"><%= t "jumbo_text_home" %></p>
    <p class="lead text-muted"><%= t "jumbo_text2_home" %></p>
    <p>
      <%= link_to t("cta_signup"), new_user_registration_path, class:"btn btn-primary my-2 mr-2"%>
      <!--a href="/informations" class="btn btn-secondary my-2">Plus d'informations</a-->
    </p>
  </div>
</section>