<!-- Jumbotron -->
<div class="card card-image jumbotron-banner-home">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      <!-- Content -->    
      <h2 class="card-title h2 my-4 py-2">À propos</h2>
      <button type="button" class="btn btn-secondary"><%= link_to 'Découvrez notre histoire', about_path, :class =>"nav-link" %></button>

    </div>
  </div>
</div>
<!-- Jumbotron -->