<h1 class="text-center mt-4">How it works?</h1>
<div class="container my-4 py-4">
  <div class="row mx-auto">
    <div class="col-lg-4-pres col-md-6 text-center">
      <img src="https://images.pexels.com/photos/5910950/pexels-photo-5910950.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="bd-placeholder-img rounded-circle mb-4" width="200" height="200">
      <h2 class="text-center pb-2">First step: choose the subscription that suits you</h2>
      <p class="text-justify">We offer several subscriptions to meet the needs of our customers. Receive fresh products every month or every week!</p>      
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4-pres col-md-6 text-center">
      <img src="https://images.pexels.com/photos/219794/pexels-photo-219794.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="bd-placeholder-img rounded-circle mb-4" width="200" height="200">
      <h2 class="text-center pb-2">Delivery on the first Wednesday of the month</h2>
      <p class="text-justify">Our baskets are delivered on the first Wednesday of each month or week according to your subscription plan. This allows us to reduce our carbon footprint and allows us to negotiate the best price to deliver quality products at a lower cost.</p>      
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4-pres col-md-6 text-center">
      <img src="https://images.pexels.com/photos/162825/healthy-food-fresh-organic-162825.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="bd-placeholder-img rounded-circle mb-4" width="200" height="200">
      <h2 class="text-center pb-2">Last step: enjoy your fruits and vegetables</h2>
      <p class="text-justify">All you have to do is enjoy your products. Why not make a good soup? A ratatouille or a fresh fruit salad? Enjoy a maximum of freshness and vitamins!</p>      
    </div><!-- /.col-lg-4 -->
  </div>
</div>