<h1 class="text-center mt-4">Comment ça marche ?</h1>
<div class="container my-4 py-4">
  <div class="row mx-auto">
    <div class="col-lg-4-pres col-md-6 text-center">
      <%= image_tag("presentation_1.jpeg", class:"bd-placeholder-img rounded-circle mb-4", width:"200", height:"200") %>
      <h2 class="text-center pb-2">Première étape : choisissez l'abonnement qui vous convient</h2>
      <p class="text-justify">Nous proposons plusieurs abonnements pour répondre aux besoins de nos clients. Recevez des produits frais chaque mois ou chaque semaine !</p>      
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4-pres col-md-6 text-center">
      <%= image_tag("presentation_2.jpeg", class:"bd-placeholder-img rounded-circle mb-4", width:"200", height:"200") %>
      <h2 class="text-center pb-2">Livraison le premier mercredi du mois</h2>
      <p class="text-justify">Nos paniers sont livrés le premier mercredi de chaque mois ou de chaque semaine selon votre abonnement. Cela nous permet de réduire notre empreinte carbone et nous permet de négocier au meilleur prix pour vous livrer des produits de qualité à moindre coût.</p>      
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4-pres col-md-6 text-center">
      <%= image_tag("presentation_3.webp", class:"bd-placeholder-img rounded-circle mb-4", width:"200", height:"200") %>
      <h2 class="text-center pb-2">Dernière étape : profitez de vos fruits et légumes</h2>
      <p class="text-justify">Il vous suffit de profiter de vos produits. Pourquoi ne pas faire une bonne soupe ? Une ratatouille ou une salade de fruits frais ? Profitez d'un maximum de fraîcheur et de vitamines !</p>      
    </div><!-- /.col-lg-4 -->
  </div>
</div>