<div class="h-100 text-dark-700 my-4 py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 service-column">
        <div class="service-text">
          <span class="fab fa-angellist service-icon float-left"></span>
          <h6 class="text-uppercase">Free shipping &amp; return</h6>
          <p class="text-muted font-weight-light text-sm mb-0">Free Shipping over $300</p>
        </div>
      </div>
      <div class="col-lg-4 service-column">
        <div class="service-text">
          <span class="fab fa-angellist service-icon float-left"></span>
          <h6 class="text-uppercase">Money back guarantee</h6>
          <p class="text-muted font-weight-light text-sm mb-0">30 Days Money Back Guarantee</p>
        </div>
      </div>
      <div class="col-lg-4">              
        <div class="service-text">
          <span class="fab fa-angellist service-icon float-left"></span>
          <h6 class="text-uppercase">020-800-456-747</h6>
          <p class="text-muted font-weight-light text-sm mb-0">24/7 Available Support</p>
        </div>
      </div>
    </div>
  </div>
</div>