<div class="container my-4 py-4 px-2">
  <div class="row mx-auto">
    <div class="col-lg-4 text-center">      
      <h2 class="h3">Le premier mercredi du mois</h2>
      <p>Recevez chaque premier mercredi du mois votre panier de fruits et légumes. Si vous avez optez pour un abonnement hebdomadaire, vous recevrez votre pannier chaque mercredi.</p>            
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">      
      <h2 class="h3">Reportez un abonnement</h2>
      <p>Vous partez en vacances ? Aucun soucis, il est possible de mettre en pause son abonnement. La livraison ainsi que le prélèvement sont décalé au mois d'après.</p>            
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">    
      <h2 class="h3">Livraison chaque semaine/mois</h2>
      <p>Vous souhaitez être livré chaque semaine ? Ou bien une fois par mois ? Profitez de nos différents abonnements pour combler à toutes envies.</p>            
    </div><!-- /.col-lg-4 -->
  </div>
</div>