<div class="jumbotron-banner-home my-5">
  <div class="container mx-auto text-center">
    <h1 class="display-4 text-black">Harry Cover</h1>
  </div>
</div>
<div class="row site-elements align-items-center my-4">
  <div class="col-md-6 order-lg-2">
    <div class="pr-lg-4">
      <h1 class="h2 text-center my-4">Notre histoire</h1>
      <p class="mx-4 px-4">Réunis dans le même amour du beau et du bon, Gérard et Julien son fils, sont 
      heureux de vous accueillir et de vous faire découvrir la diversité des origines et des saveurs qui 
      leur ont apporté la reconnaissance de grands chefs et critiques gastronomiques. </p>
      <h2 class="h3 text-center my-4">Notre Activite</h2>
      <p class="mx-4 px-4">Harry Cover est  un primeur tenu par une famille où, depuis 5 générations, nous travaillons avec 
      les meilleurs professionnels et sélectionnons des produits de la meilleure qualité pour votre table. Tous les matins Gérard, 
      fort de son expérience de plus de 30 ans, sélectionne les meilleurs produits avec toujours la même exigence de qualité et 
      d'authenticité pour vous apporter au coeur du 7ème le meilleur de Rungis.<br><br>Cette passion l'amène à vous apporter 
      toujours plus de fraîcheur et de service et à vous proposer, outre les produits sélectionnés quotidiennement à Rungis, 
      les préparations de ces produits.</p>
      <p class="mx-4 px-4">De quoi ravir les épicuriens pressés :</p>
      <ul class="mx-5 px-4">
        <li>légumes et fruits lavés, coupés, prêts à être cuisinés</li>
        <li>jus de fruits pressés plusieurs fois par jour pour un maximum de fraîcheur et de vitamines,</li>
        <li>corbeilles de fruits ou de légumes</li>
        <li>les soupes préparées dans notre cuisine</li>
        <li>les légumes cuits vapeur, prêts à être réchauffés pour une alimentation saine et rapide</li>
      </ul>
      <p class="mx-4 px-4">Vous êtes invités ? Apportez l'apéritif, commandez l'une de nos corbeilles de crudités !!!
      Pensez au goûter bio et sain pour les enfants, faites leur découvrir  "les gourmandises d'Harry" !</p>
    </div>
  </div>
  <div class="col-md-6 order-lg-1">
    <img class="img-fluid img-center ml-4" src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/27973046_1972986549688367_8914001907525354916_n.jpg?_nc_cat=102&ccb=2&_nc_sid=8bfeb9&_nc_ohc=K7KtHM8_YVUAX_5_usG&_nc_ht=scontent-cdg2-1.xx&oh=f0c762895e55377b51b10136b1c1a02d&oe=5FF18D67">
  </div>
</div>