<h1 class="text-center mt-4">Informations Harry Cover</h1>
<div class="container my-4 py-4">
  <div class="row mx-auto">
    <div class="col-lg-4 text-center">
      <svg class="bd-placeholder-img rounded-circle mb-4" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>      
      <h2 class="text-center">1st Wednesday of the month</h2>
      <p class="text-justify">Our bouquets go out on the first Wednesday of every month. This allows us to reduce our carbon footprint and enables us to negotiate the best prices to deliver a high-quality bouquet for less.</p>      
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">
      <svg class="bd-placeholder-img rounded-circle mb-4" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
      <h2 class="text-center">Skip a delivery</h2>
      <p class="text-justify">Out of town  or going on holiday? No problem, just contact us and let us know. We’ll skip this delivery month and deliver the next one.</p>      
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">
      <svg class="bd-placeholder-img rounded-circle mb-4" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
      <h2 class="text-center">Weekly deliveries</h2>
      <p class="text-justify">Once a month is not enough? We don’t blame you. We’ll be happy to work with you and deliver a fabulous bouquet every week or every other week! Call us so we can work out the details.</p>      
    </div><!-- /.col-lg-4 -->
  </div>
</div>

<div class="row">
  <!--button href="/abonnements" class="btn btn-outline-primary btn-lg mx-auto">Je découvre les abonnements</button-->
  <%= link_to "Je découvre", abonnements_path, class:"btn btn-outline-primary btn-lg mx-auto"%>
</div><br><br>