<h1 class="text-center mt-4">Informations Harry Cover</h1>
<div class="container my-4 py-4">
  <div class="row mx-auto">
    <div class="col-lg-4 text-center">
      <svg class="bd-placeholder-img rounded-circle mb-4" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>      
      <h2>Le premier mercredi du mois</h2>
      <p>Recevez chaque premier mercredi du mois votre panier de fruits et légumes. Si vous avez optez pour un abonnement hebdomadaire, vous recevrez votre pannier chaque mercredi.</p>      
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">
      <svg class="bd-placeholder-img rounded-circle mb-4" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
      <h2>Reportez un abonnement</h2>
      <p>Vous partez en vacances ? Aucun soucis, il est possible de mettre en pause son abonnement. La livraison ainsi que le prélèvement sont décalé au mois d'après.</p>      
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">
      <svg class="bd-placeholder-img rounded-circle mb-4" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
      <h2>Livraison hebdomadaire</h2>
      <p>Vous souhaitez être livré chaque semaine ? Ou bien une fois par mois ? Profitez de nos différents abonnements pour combler à toutes envies.</p>      
    </div><!-- /.col-lg-4 -->
  </div>
</div>
<div class="container my-4 py-4">
  <div class="row mx-auto">
    <div class="col-lg-4 text-center">      
      <h2>1st Wednesday of the month</h2>
      <p>Our bouquets go out on the first Wednesday of every month. This allows us to reduce our carbon footprint and enables us to negotiate the best prices to deliver a high-quality bouquet for less.</p>      
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">      
      <h2>Skip a delivery</h2>
      <p>Out of town  or going on holiday? No problem, just contact us and let us know. We’ll skip this delivery month and deliver the next one.</p>      
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">      
      <h2>Weekly deliveries</h2>
      <p>Once a month is not enough? We don’t blame you. We’ll be happy to work with you and deliver a fabulous bouquet every week or every other week! Call us so we can work out the details.</p>      
    </div><!-- /.col-lg-4 -->
  </div>
</div>
<div class="row">
  <button href="/abonnements" class="btn btn-outline-primary btn-lg mx-auto">Je découvre les abonnements</button>
</div><br><br>