<div class="text-center my-4">
  <h1 class="display-3">Nous avons rencontré une erreur !</h1>
  <p class="lead"><strong>Veuillez réessayer plus tard</strong></p>
  <hr>
  <p>
    Vous avez une question ? <a href="/contact">Contactez-nous</a>
  </p>
  <p class="lead">
    <a class="btn btn-outline-primary btn-sm" href="/" role="button">Continuer vers la page d'accueil</a>
  </p>
</div>