<div class="text-center my-4">
  <h1 class="display-3">Nous avons rencontré une erreur !</h1>
  <p class="lead"><strong>Veuillez réessayer plus tard</strong></p>
  <hr>
  <p>
    Vous avez une question ? <%= link_to "Contactez-nous", contact_path%>
  </p>
  <p class="lead">
    <%= link_to "Continuer vers la page d'accueil", root_path, role:"button", class: "btn btn-outline-primary btn-sm"%>
  </p>
</div>