<div class="jumbotron text-center">
  <h1 class="display-3">Something went wrong!</h1>
  <p class="lead"><strong>Please try again later</strong></p>
  <hr>
  <p>
    Do you have a question? <a href="/contact">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
  </p>
</div>