<div class="text-center my-4">
  <h1 class="display-3">Merci!</h1>
  <p class="lead"><strong>Veuillez vérifier votre adresse e-mail</strong> pour plus d'informations sur votre commande. Nous vous remercions de votre confiance.</p>
  <hr>
  <p>
    Vous avez une question ? <%= link_to "Contactez-nous", contact_path%>
  </p>
  <p class="lead">
    <%= link_to "Continuer vers la page d'accueil", root_path, role:"button", class: "btn btn-outline-primary btn-sm"%>
  </p>
</div>

