<div class="container">
    <div class="row mt-5">
        <div class="col-4">
            <div class="card mb-3">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="138">
                    <div class="mt-3">
                      <h4>Nicolas Véron</h4>
                      <button class="btn btn-primary">Edit my profile</button>
                      <button class="btn btn-outline-primary">Logout</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">First name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            Nicolas
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Last name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            Véron
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            arrvac@gmail.com
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Phone</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            +33 6 14 93 11 85
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            Mon adresse 
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Current</i>orders</h6>
                    <div class="row">
                        <div class="col-4">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        kjfhglakjdfhgljahkglahklgakljghalgljahgljakl<br>
                                        kjfhglakjdfhgljahkglahklgakljghalgljahgljakl<br>
                                        kjfhglakjdfhgljahkglahklgakljghalgljahgljakl<br>
                                        kjfhglakjdfhgljahkglahklgakljghalgljahgljakl<br>
                                        kjfhglakjdfhgljahkglahklgakljghalgljahgljakl<br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        kjfhglakjdfhgljahkglahklgakljghalgljahgljakl<br>
                                        kjfhglakjdfhgljahkglahklgakljghalgljahgljakl<br>
                                        kjfhglakjdfhgljahkglahklgakljghalgljahgljakl<br>
                                        kjfhglakjdfhgljahkglahklgakljghalgljahgljakl<br>
                                        kjfhglakjdfhgljahkglahklgakljghalgljahgljakl<br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        kjfhglakjdfhgljahkglahklgakljghalgljahgljakl<br>
                                        kjfhglakjdfhgljahkglahklgakljghalgljahgljakl<br>
                                        kjfhglakjdfhgljahkglahklgakljghalgljahgljakl<br>
                                        kjfhglakjdfhgljahkglahklgakljghalgljahgljakl<br>
                                        kjfhglakjdfhgljahkglahklgakljghalgljahgljakl<br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Past</i>orders</h6>
                    <div class="row">
                        <div class="col-4">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        kjfhglakjdfhgljahkglahklgakljghalgljahgljakl<br>
                                        kjfhglakjdfhgljahkglahklgakljghalgljahgljakl<br>
                                        kjfhglakjdfhgljahkglahklgakljghalgljahgljakl<br>
                                        kjfhglakjdfhgljahkglahklgakljghalgljahgljakl<br>
                                        kjfhglakjdfhgljahkglahklgakljghalgljahgljakl<br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        kjfhglakjdfhgljahkglahklgakljghalgljahgljakl<br>
                                        kjfhglakjdfhgljahkglahklgakljghalgljahgljakl<br>
                                        kjfhglakjdfhgljahkglahklgakljghalgljahgljakl<br>
                                        kjfhglakjdfhgljahkglahklgakljghalgljahgljakl<br>
                                        kjfhglakjdfhgljahkglahklgakljghalgljahgljakl<br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        kjfhglakjdfhgljahkglahklgakljghalgljahgljakl<br>
                                        kjfhglakjdfhgljahkglahklgakljghalgljahgljakl<br>
                                        kjfhglakjdfhgljahkglahklgakljghalgljahgljakl<br>
                                        kjfhglakjdfhgljahkglahklgakljghalgljahgljakl<br>
                                        kjfhglakjdfhgljahkglahklgakljghalgljahgljakl<br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>