<div class="container-fluid">
    <div class="row">
        <div class="col-3 p-5">
            <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-all-list" data-toggle="list" href="#list-all" role="tab" aria-controls="all">All</a>
            <a class="list-group-item list-group-item-action" id="list-hebdo-list" data-toggle="list" href="#list-hebdo" role="tab" aria-controls="hebdo">Hebdomadaire</a>
            <a class="list-group-item list-group-item-action" id="list-mensu-list" data-toggle="list" href="#list-mensu" role="tab" aria-controls="mensu">Mensuel</a>
            </div>
        </div>
        <div class="col-9 p-5">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-all" role="tabpanel" aria-labelledby="list-all-list">
                    blabla
                </div>
                <div class="tab-pane fade" id="list-hebdo" role="tabpanel" aria-labelledby="list-hebdo-list">
                    <div class="card text-center mb-5">
                        <div class="card-body">
                            <h5 class="card-title">Voici nos offres 3 mois</h5>
                            <div class="card-deck">
                                <div class="card">
                                    <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/5fafdaaccf3726491f712812/1605901169154-GF2AWRA98RRK12I00DYT/ke17ZwdGBToddI8pDm48kOIJZh_s7PTWO_0PO4_SqzFZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyGpZZ0KqkXTvQlKEuiBillKtyWUEhR0m_pwiiDuTjCxpyPGBGE4jKxkhQk92kqZd4/20A.jpg?format=2500w" alt="Card image cap">
                                    <div class="card-body">
                                    <h5 class="card-title">Titre du produit</h5>
                                    <p class="card-text">blablablabla</p>
                                    <a href="#" class="btn btn-primary stretched-link">Ajouter au panier</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/5fafdaaccf3726491f712812/1605901169154-GF2AWRA98RRK12I00DYT/ke17ZwdGBToddI8pDm48kOIJZh_s7PTWO_0PO4_SqzFZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyGpZZ0KqkXTvQlKEuiBillKtyWUEhR0m_pwiiDuTjCxpyPGBGE4jKxkhQk92kqZd4/20A.jpg?format=2500w" alt="Card image cap">
                                    <div class="card-body">
                                    <h5 class="card-title">Titre du produit</h5>
                                    <p class="card-text">blablablabla</p>
                                    <a href="#" class="btn btn-primary stretched-link">Ajouter au panier</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/5fafdaaccf3726491f712812/1605901169154-GF2AWRA98RRK12I00DYT/ke17ZwdGBToddI8pDm48kOIJZh_s7PTWO_0PO4_SqzFZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyGpZZ0KqkXTvQlKEuiBillKtyWUEhR0m_pwiiDuTjCxpyPGBGE4jKxkhQk92kqZd4/20A.jpg?format=2500w" alt="Card image cap">
                                    <div class="card-body">
                                    <h5 class="card-title">Titre du produit</h5>
                                    <p class="card-text">blablablabla</p>
                                    <a href="#" class="btn btn-primary stretched-link">Ajouter au panier</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card text-center mb-5">
                        <div class="card-body">
                            <h5 class="card-title">Voici nos offres 6 mois</h5>
                            <div class="card-deck">
                                <div class="card">
                                    <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/5fafdaaccf3726491f712812/1605901169154-GF2AWRA98RRK12I00DYT/ke17ZwdGBToddI8pDm48kOIJZh_s7PTWO_0PO4_SqzFZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyGpZZ0KqkXTvQlKEuiBillKtyWUEhR0m_pwiiDuTjCxpyPGBGE4jKxkhQk92kqZd4/20A.jpg?format=2500w" alt="Card image cap">
                                    <div class="card-body">
                                    <h5 class="card-title">Titre du produit</h5>
                                    <p class="card-text">blablablabla</p>
                                    <a href="#" class="btn btn-primary stretched-link">Ajouter au panier</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/5fafdaaccf3726491f712812/1605901169154-GF2AWRA98RRK12I00DYT/ke17ZwdGBToddI8pDm48kOIJZh_s7PTWO_0PO4_SqzFZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyGpZZ0KqkXTvQlKEuiBillKtyWUEhR0m_pwiiDuTjCxpyPGBGE4jKxkhQk92kqZd4/20A.jpg?format=2500w" alt="Card image cap">
                                    <div class="card-body">
                                    <h5 class="card-title">Titre du produit</h5>
                                    <p class="card-text">blablablabla</p>
                                    <a href="#" class="btn btn-primary stretched-link">Ajouter au panier</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/5fafdaaccf3726491f712812/1605901169154-GF2AWRA98RRK12I00DYT/ke17ZwdGBToddI8pDm48kOIJZh_s7PTWO_0PO4_SqzFZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyGpZZ0KqkXTvQlKEuiBillKtyWUEhR0m_pwiiDuTjCxpyPGBGE4jKxkhQk92kqZd4/20A.jpg?format=2500w" alt="Card image cap">
                                    <div class="card-body">
                                    <h5 class="card-title">Titre du produit</h5>
                                    <p class="card-text">blablablabla</p>
                                    <a href="#" class="btn btn-primary stretched-link">Ajouter au panier</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card text-center mb-5">
                        <div class="card-body">
                            <h5 class="card-title">Voici nos offres 9 mois</h5>
                            <div class="card-deck">
                                <div class="card">
                                    <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/5fafdaaccf3726491f712812/1605901169154-GF2AWRA98RRK12I00DYT/ke17ZwdGBToddI8pDm48kOIJZh_s7PTWO_0PO4_SqzFZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyGpZZ0KqkXTvQlKEuiBillKtyWUEhR0m_pwiiDuTjCxpyPGBGE4jKxkhQk92kqZd4/20A.jpg?format=2500w" alt="Card image cap">
                                    <div class="card-body">
                                    <h5 class="card-title">Titre du produit</h5>
                                    <p class="card-text">blablablabla</p>
                                    <a href="#" class="btn btn-primary stretched-link">Ajouter au panier</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/5fafdaaccf3726491f712812/1605901169154-GF2AWRA98RRK12I00DYT/ke17ZwdGBToddI8pDm48kOIJZh_s7PTWO_0PO4_SqzFZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyGpZZ0KqkXTvQlKEuiBillKtyWUEhR0m_pwiiDuTjCxpyPGBGE4jKxkhQk92kqZd4/20A.jpg?format=2500w" alt="Card image cap">
                                    <div class="card-body">
                                    <h5 class="card-title">Titre du produit</h5>
                                    <p class="card-text">blablablabla</p>
                                    <a href="#" class="btn btn-primary stretched-link">Ajouter au panier</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/5fafdaaccf3726491f712812/1605901169154-GF2AWRA98RRK12I00DYT/ke17ZwdGBToddI8pDm48kOIJZh_s7PTWO_0PO4_SqzFZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyGpZZ0KqkXTvQlKEuiBillKtyWUEhR0m_pwiiDuTjCxpyPGBGE4jKxkhQk92kqZd4/20A.jpg?format=2500w" alt="Card image cap">
                                    <div class="card-body">
                                    <h5 class="card-title">Titre du produit</h5>
                                    <p class="card-text">blablablabla</p>
                                    <a href="#" class="btn btn-primary stretched-link">Ajouter au panier</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-mensu" role="tabpanel" aria-labelledby="list-mensu-list">
                    <div class="card text-center mb-5">
                        <div class="card-body">
                            <h5 class="card-title">Voici nos offres 3 mois</h5>
                            <div class="card-deck">
                                <div class="card">
                                    <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/5fafdaaccf3726491f712812/1605901169154-GF2AWRA98RRK12I00DYT/ke17ZwdGBToddI8pDm48kOIJZh_s7PTWO_0PO4_SqzFZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyGpZZ0KqkXTvQlKEuiBillKtyWUEhR0m_pwiiDuTjCxpyPGBGE4jKxkhQk92kqZd4/20A.jpg?format=2500w" alt="Card image cap">
                                    <div class="card-body">
                                    <h5 class="card-title">Titre du produit</h5>
                                    <p class="card-text">blablablabla</p>
                                    <a href="#" class="btn btn-primary stretched-link">Ajouter au panier</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/5fafdaaccf3726491f712812/1605901169154-GF2AWRA98RRK12I00DYT/ke17ZwdGBToddI8pDm48kOIJZh_s7PTWO_0PO4_SqzFZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyGpZZ0KqkXTvQlKEuiBillKtyWUEhR0m_pwiiDuTjCxpyPGBGE4jKxkhQk92kqZd4/20A.jpg?format=2500w" alt="Card image cap">
                                    <div class="card-body">
                                    <h5 class="card-title">Titre du produit</h5>
                                    <p class="card-text">blablablabla</p>
                                    <a href="#" class="btn btn-primary stretched-link">Ajouter au panier</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/5fafdaaccf3726491f712812/1605901169154-GF2AWRA98RRK12I00DYT/ke17ZwdGBToddI8pDm48kOIJZh_s7PTWO_0PO4_SqzFZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyGpZZ0KqkXTvQlKEuiBillKtyWUEhR0m_pwiiDuTjCxpyPGBGE4jKxkhQk92kqZd4/20A.jpg?format=2500w" alt="Card image cap">
                                    <div class="card-body">
                                    <h5 class="card-title">Titre du produit</h5>
                                    <p class="card-text">blablablabla</p>
                                    <a href="#" class="btn btn-primary stretched-link">Ajouter au panier</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card text-center mb-5">

                        <div class="card-body">
                            <h5 class="card-title">Voici nos offres 6 mois</h5>
                            <div class="card-deck">
                                <div class="card">
                                    <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/5fafdaaccf3726491f712812/1605901169154-GF2AWRA98RRK12I00DYT/ke17ZwdGBToddI8pDm48kOIJZh_s7PTWO_0PO4_SqzFZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyGpZZ0KqkXTvQlKEuiBillKtyWUEhR0m_pwiiDuTjCxpyPGBGE4jKxkhQk92kqZd4/20A.jpg?format=2500w" alt="Card image cap">
                                    <div class="card-body">
                                    <h5 class="card-title">Titre du produit</h5>
                                    <p class="card-text">blablablabla</p>
                                    <a href="#" class="btn btn-primary stretched-link">Ajouter au panier</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/5fafdaaccf3726491f712812/1605901169154-GF2AWRA98RRK12I00DYT/ke17ZwdGBToddI8pDm48kOIJZh_s7PTWO_0PO4_SqzFZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyGpZZ0KqkXTvQlKEuiBillKtyWUEhR0m_pwiiDuTjCxpyPGBGE4jKxkhQk92kqZd4/20A.jpg?format=2500w" alt="Card image cap">
                                    <div class="card-body">
                                    <h5 class="card-title">Titre du produit</h5>
                                    <p class="card-text">blablablabla</p>
                                    <a href="#" class="btn btn-primary stretched-link">Ajouter au panier</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/5fafdaaccf3726491f712812/1605901169154-GF2AWRA98RRK12I00DYT/ke17ZwdGBToddI8pDm48kOIJZh_s7PTWO_0PO4_SqzFZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyGpZZ0KqkXTvQlKEuiBillKtyWUEhR0m_pwiiDuTjCxpyPGBGE4jKxkhQk92kqZd4/20A.jpg?format=2500w" alt="Card image cap">
                                    <div class="card-body">
                                    <h5 class="card-title">Titre du produit</h5>
                                    <p class="card-text">blablablabla</p>
                                    <a href="#" class="btn btn-primary stretched-link">Ajouter au panier</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card text-center mb-5">
                        <div class="card-body">
                            <h5 class="card-title">Voici nos offres 9 mois</h5>
                            <div class="card-deck">
                                <div class="card">
                                    <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/5fafdaaccf3726491f712812/1605901169154-GF2AWRA98RRK12I00DYT/ke17ZwdGBToddI8pDm48kOIJZh_s7PTWO_0PO4_SqzFZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyGpZZ0KqkXTvQlKEuiBillKtyWUEhR0m_pwiiDuTjCxpyPGBGE4jKxkhQk92kqZd4/20A.jpg?format=2500w" alt="Card image cap">
                                    <div class="card-body">
                                    <h5 class="card-title">Titre du produit</h5>
                                    <p class="card-text">blablablabla</p>
                                    <a href="#" class="btn btn-primary stretched-link">Ajouter au panier</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/5fafdaaccf3726491f712812/1605901169154-GF2AWRA98RRK12I00DYT/ke17ZwdGBToddI8pDm48kOIJZh_s7PTWO_0PO4_SqzFZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyGpZZ0KqkXTvQlKEuiBillKtyWUEhR0m_pwiiDuTjCxpyPGBGE4jKxkhQk92kqZd4/20A.jpg?format=2500w" alt="Card image cap">
                                    <div class="card-body">
                                    <h5 class="card-title">Titre du produit</h5>
                                    <p class="card-text">blablablabla</p>
                                    <a href="#" class="btn btn-primary stretched-link">Ajouter au panier</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/5fafdaaccf3726491f712812/1605901169154-GF2AWRA98RRK12I00DYT/ke17ZwdGBToddI8pDm48kOIJZh_s7PTWO_0PO4_SqzFZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyGpZZ0KqkXTvQlKEuiBillKtyWUEhR0m_pwiiDuTjCxpyPGBGE4jKxkhQk92kqZd4/20A.jpg?format=2500w" alt="Card image cap">
                                    <div class="card-body">
                                    <h5 class="card-title">Titre du produit</h5>
                                    <p class="card-text">blablablabla</p>
                                    <a href="#" class="btn btn-primary stretched-link">Ajouter au panier</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>