<h1>Show item</h1>
<div class="container">	
    <div class="row">  
        <div class="col col-md-6">
            <% if @item.avatar.attached?%>
                <div class="m-b-25"> IMG </div>
            <% else %>
                <div class="m-b-25"> <img src="https://pajulahti.com/wp-content/uploads/2017/04/500x500.jpeg" class="img-radius" alt="User-Profile-Image"> </div>
            <% end %> 
        </div>
        <div class="col col-md-6">
            <h1>ITEM TITLE</h1>
            <hr class="hr-product my-4">
            <span class="ml-2 font-weight-bold">ITEM PRICE€</span>
            <br><br> 
            <p>Catégorie : ITEM CAT</h1><br>
            <p>Description : ITEM DESC </h1><br>
            <p>Sélecteur de quantité</p><br>
            <div>
                Ajouter au panier<span class="fas fa-shopping-cart ml-2"></span>
            </div>
        </div>
    </div>	
</div>
<br><br><br><br><br>
