    // Place all the styles related to the carts controller here.
    // They will automatically be included in application.css.
    // You can use Sass (SCSS) here: https://sass-lang.com/
    @media (min-width: 1000px) {
        .col-lg-4-pres {
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100%;
        }
    }