<!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">

      <div class="bg-primary">
        <div class="container">

          <!-- Grid row-->
          <div class="row py-4 d-flex align-items-center">

            <!-- Grid column -->
            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
              <h6 class="footer-title mb-0 text-white">Connectez-vous avec nous sur les réseaux sociaux !</h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 col-lg-7 text-center text-md-right">

              <!-- Facebook -->
              <a class="fb-ic" href="https://fr-fr.facebook.com/leslapinsdalice/?ref=page_internal">
                <i class="fab fa-facebook-f text-white mr-4 fa-lg"> </i>
              </a>
              <!--Instagram-->
              <a class="ins-ic" href="https://www.instagram.com/leslapinsdaliceparis/?hl=fr">
                <i class="fab fa-instagram text-white fa-lg"> </i>
              </a>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row-->

        </div>
      </div>

      <!-- Footer Links -->
      <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3">

          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

            <!-- Content -->
            <h6 class="text-uppercase font-weight-bold">Monthlee</h6>
            <hr class="bg-primary accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>Ici, vous trouverez des valeurs sures mais aussi et surtout de nouvelles marques, 
            bien souvent locales, fabriquées en France et responsables !</p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">À propos</h6>
            <hr class="bg-primary accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a href="https://www.harry-cover.co/acheter-en-ligne">Acheter en ligne</a>
            </p>
            <p>
              <%= link_to "Notre histoire", notre_histoire_path %>
            </p>
            <p>
              <%= link_to "Abonnements", abonnements_path %>
            </p>
            <p>
              <a href="https://www.harry-cover.co/la-presse">La Presse</a>
            </p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Horaires</h6>
            <hr class="bg-primary accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              Lundi au samedi :<br> 8H00 à 20h00
            </p>
            <p>
              <a class="no-style" href="#!">Dimanche : <br>8h30 à 13h30</a>
            </p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Contact</h6>
            <hr class="bg-primary accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <i class="fas fa-home mr-3"></i>208 rue de Grenelle <br>Paris 75007</p>
            <p>
              <i class="fas fa-envelope mr-3"></i>contact@harry-cover.co</p>
            <p>
              <i class="fas fa-phone mr-3"></i>01 47 05 19 13</p>
            <p>         
              <i class="fas fa-laptop mr-3"></i><a href="https://www.harry-cover.co/">www.harry-cover.co</a></p>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
         Monthlee
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->